


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."delivery_type" AS ENUM (
    'pickup',
    'delivery'
);


ALTER TYPE "public"."delivery_type" OWNER TO "postgres";


CREATE TYPE "public"."order_status" AS ENUM (
    'pending',
    'completed',
    'cancelled',
    'active',
    'preparing',
    'ready',
    'on_way',
    'delivered',
    'picked_up'
);


ALTER TYPE "public"."order_status" OWNER TO "postgres";


CREATE TYPE "public"."status" AS ENUM (
    'pending',
    'completed',
    'cancelled'
);


ALTER TYPE "public"."status" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."random_order_id_increment"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  new_increment INT := floor(random() * 10 + 1);  -- random between 1ΓÇô10
BEGIN
  PERFORM setval('public.order_id_seq', currval('public.order_id_seq') + new_increment);
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."random_order_id_increment"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."menu_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text" NOT NULL,
    "price" numeric NOT NULL,
    "category" "text" NOT NULL,
    "image_url" "text" NOT NULL,
    "available" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "special_item" boolean DEFAULT false NOT NULL,
    CONSTRAINT "menu_items_price_check" CHECK (("price" >= (0)::numeric))
);


ALTER TABLE "public"."menu_items" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."order_id_seq"
    START WITH 10000000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."order_id_seq" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."order_items" (
    "item_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "order_id" bigint NOT NULL,
    "menu_item_id" "uuid" NOT NULL,
    "quantity" integer NOT NULL,
    "price_at_time" numeric NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "order_item_status" "public"."status" DEFAULT 'pending'::"public"."status",
    "total_price" numeric GENERATED ALWAYS AS (("price_at_time" * ("quantity")::numeric)) STORED,
    CONSTRAINT "order_items_price_at_time_check" CHECK (("price_at_time" >= (0)::numeric)),
    CONSTRAINT "order_items_quantity_check" CHECK (("quantity" > 0))
);


ALTER TABLE "public"."order_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."orders" (
    "id" bigint DEFAULT "nextval"('"public"."order_id_seq"'::"regclass") NOT NULL,
    "customer_name" "text" NOT NULL,
    "customer_email" "text" NOT NULL,
    "customer_phone" "text" NOT NULL,
    "total_amount" numeric NOT NULL,
    "status" "public"."order_status" DEFAULT 'pending'::"public"."order_status" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "delivery_method" "public"."delivery_type",
    "delivery_address" "text",
    "payment_method" "text",
    "payment_id" "text",
    CONSTRAINT "orders_payment_method_check" CHECK (("payment_method" = ANY (ARRAY['zelle'::"text", 'paypal'::"text", 'cash'::"text"]))),
    CONSTRAINT "orders_total_amount_check" CHECK (("total_amount" >= (0)::numeric))
);


ALTER TABLE "public"."orders" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."store_settings" (
    "id" bigint NOT NULL,
    "zelle_id" "text" DEFAULT ''::"text" NOT NULL,
    "paypal_id" "text" DEFAULT ''::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."store_settings" OWNER TO "postgres";


ALTER TABLE "public"."store_settings" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."store_settings_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE ONLY "public"."menu_items"
    ADD CONSTRAINT "menu_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_pkey" PRIMARY KEY ("item_id");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."store_settings"
    ADD CONSTRAINT "store_settings_pkey" PRIMARY KEY ("id");



CREATE OR REPLACE TRIGGER "orders_random_increment" AFTER INSERT ON "public"."orders" FOR EACH ROW EXECUTE FUNCTION "public"."random_order_id_increment"();



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_menu_item_id_fkey" FOREIGN KEY ("menu_item_id") REFERENCES "public"."menu_items"("id");



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE CASCADE;



CREATE POLICY "Admins can manage menu items" ON "public"."menu_items" TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Admins can manage order items" ON "public"."order_items" TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Admins can manage orders" ON "public"."orders" TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Allow Update" ON "public"."menu_items" USING (true) WITH CHECK (true);



CREATE POLICY "Anyone can view available menu items" ON "public"."menu_items" FOR SELECT USING (("available" = true));



CREATE POLICY "Enable insert/update for admins" ON "public"."store_settings" TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Enable read access for all users" ON "public"."store_settings" FOR SELECT USING (true);



CREATE POLICY "Policy with security definer functions" ON "public"."order_items" USING (true) WITH CHECK (true);



CREATE POLICY "Policy with security definer functions" ON "public"."orders" USING (true) WITH CHECK (true);



CREATE POLICY "Policy with table joins" ON "public"."order_items" FOR UPDATE USING (true) WITH CHECK (true);



CREATE POLICY "Public can create order items" ON "public"."order_items" FOR INSERT WITH CHECK (true);



CREATE POLICY "Public can create orders" ON "public"."orders" FOR INSERT WITH CHECK (true);



CREATE POLICY "Public can view menu items" ON "public"."menu_items" FOR SELECT USING (true);



ALTER TABLE "public"."menu_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."order_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."orders" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."store_settings" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";






ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."order_items";



ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."orders";






GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";































































































































































GRANT ALL ON FUNCTION "public"."random_order_id_increment"() TO "anon";
GRANT ALL ON FUNCTION "public"."random_order_id_increment"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."random_order_id_increment"() TO "service_role";


















GRANT ALL ON TABLE "public"."menu_items" TO "anon";
GRANT ALL ON TABLE "public"."menu_items" TO "authenticated";
GRANT ALL ON TABLE "public"."menu_items" TO "service_role";



GRANT ALL ON SEQUENCE "public"."order_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."order_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."order_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."order_items" TO "anon";
GRANT ALL ON TABLE "public"."order_items" TO "authenticated";
GRANT ALL ON TABLE "public"."order_items" TO "service_role";



GRANT ALL ON TABLE "public"."orders" TO "anon";
GRANT ALL ON TABLE "public"."orders" TO "authenticated";
GRANT ALL ON TABLE "public"."orders" TO "service_role";



GRANT ALL ON TABLE "public"."store_settings" TO "anon";
GRANT ALL ON TABLE "public"."store_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."store_settings" TO "service_role";



GRANT ALL ON SEQUENCE "public"."store_settings_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."store_settings_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."store_settings_id_seq" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































